# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#images
images\DALL·E 2024-12-06 16.40.54 - A stunning modern background image for a professional IT consulting website. The image should include sleek and futuristic visuals, combining elements.webp